wheel==0.41.2
pymupdf == 1.23.1
pandas == 2.0.3
pyarrow == 12.0.1
numpy == 1.25.1
pillow == 9.5
tqdm == 4.65.0
onnxruntime==1.14.1
chromadb == 0.4.2
openai == 0.27.8
tabula == 1.0.5
pypdf == 3.12.2
tabula-py == 2.7.0
pdfplumber == 0.10.1
streamlit==1.25.0
streamlit_chat==0.1.1